
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
  position: relative;
  overflow: auto;
}


#square1 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 2000px;
  height: 2000px;
  background-color: #a1876c;
}

#square2 {
  position: fixed;
  top: 70px;
  left: 0px;
  width: 2000px;
  height: 60px;
  background-color: #eae0d6;
}

#square3 {
  position: fixed;
  top: 70px;
  left: 0px;
  width: 700px;
  height: 520px;
  background-color: #eae0d6;
}

#scrollContainer {
    position: fixed; 
    top: 130px; 
    left: 550px; 
    width: 680px;
    height: 800px;
    overflow-y: auto;
    background-color: #eae0d6; 
    
}

#square4 {
    width: 100%;
    height: 200vh; 
    background-color: #f0f0f0; 
}

.rounded-upper {
    position: fixed;
    left: 560px; 
    top: 150px; 
    width: 110px; 
    height: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 5px; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size: 16px; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    border: 1px solid #ccc; 
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s; 
}

.rounded-upper.active {
    background-color: #a1876c;
}

.rounded-lower {
    position: fixed;
    left: 690px; 
    top: 150px; 
    width: 110px; 
    height: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 5px; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size: 16px;
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc; 
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s;
}

.rounded-lower.active {
    background-color: #a1876c;
}

.rounded-shoes {
    position: fixed;
    left: 820px; 
    top: 150px; 
    width: 110px; 
    height: 20px;   
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 5px; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size: 16px;
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    border: 1px solid #ccc; 
    cursor: pointer; 
    z-index: 2;
    transition: background-color 0.3s; 
}

.rounded-shoes.active {
    background-color: #a1876c;
}

.rounded-eyewear {
    position: fixed;
    left: 950px; 
    top: 150px; 
    width: 110px; 
    height: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 5px; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size: 16px;
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc; 
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s; 
}

.rounded-eyewear.active {
    background-color: #a1876c; 
}

.rounded-bag {
    position: fixed;
    left: 1080px; 
    top: 150px; 
    width: 110px; 
    height: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 5px; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size: 16px; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    border: 1px solid #ccc; 
    cursor: pointer; 
    z-index: 2;
    transition: background-color 0.3s;
}

.rounded-bag.active {
    background-color: #a1876c; 
}

.rounded-headwear {
    position: fixed;
    left: 560px; 
    top: 195px; 
    width: 110px; 
    height: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 5px; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size: 16px; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc; 
    cursor: pointer; 
    z-index: 2;
    transition: background-color 0.3s; 
}

.rounded-headwear.active {
    background-color: #a1876c; 
}

.rounded-accessory {
    position:fixed;
    left: 690px; 
    top: 190px; 
    width: 110px; 
    height: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 5px; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size: 16px; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc; 
    cursor: pointer; 
    z-index: 2;
    transition: background-color 0.3s; 
}

.rounded-accessory.active {
    background-color: #a1876c; 
}

.rounded-socks {
    position: fixed;
    left: 820px; 
    top: 190px; 
    width: 110px; 
    height: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 5px; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size: 16px; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    border: 1px solid #ccc; 
    cursor: pointer; 
    z-index: 2;
    transition: background-color 0.3s; 
}

.rounded-socks.active {
    background-color: #a1876c; 
}

 .home-text {
    position: absolute; 
    left: 400px; 
    top: 85px; 
    font-family: 'Canva Sans', sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    cursor: move; 
}

 .edit-text {
    position: absolute; 
    left: 800px; 
    top: 85px; 
    font-family: 'Canva Sans', sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    cursor: move; 
}

 .name-text {
    position: absolute; 
    left: 110px; 
    top: 19px; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 22px; 
    font-weight: 400;
    cursor: move; 
}

.default_profile {
    position: absolute;
    left: 30px; 
    top: 8px;
    width: 60px;
    height: auto;
    cursor: move;
}

.logo {
    position: absolute;
    left: 1050px;
    top: 8px;
    width: 150px;
    height: auto;
    cursor: move; 
}

.line {
    position: absolute;
    left: 395px;
    top: 115px;
    height: 3px; 
    width: 80px;
    background-color: #000; 
    transform: rotate(0deg); 
    cursor: ew-resize; 
}

#clothes {
  position: relative;
  top: -1000px;
  left: 20px;
  width: 180px;
  height: 260px;
  z-index: 1;
  background-color: #e4e4e4;
}

.add_icon {
    position: relative;
    left: 165px;
    top: -1255px;
    width: 30px;
    height: auto;
    cursor: pointer; 
    z-index: 1;
}