body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  overflow: hidden; /* Prevent body from scrolling */
}

.container {
    display: flex;
    width: 100vw; 
    height: 100vh;
    box-shadow: none; 
    border-radius: 0; 
    overflow: hidden;
}

#square1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%; /* Allows for larger height */
  background-color: #a1876c;
}

#square2 {
  position: absolute;
  top: 10vh; /* Responsive position */
  left: 0;
  width: 100%;
  height: 60vh;
  background-color: #eae0d6;
}

#square3 {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 70%;
  height: 90vh; /* Responsive height */
  background-color: #eae0d6;
}

#scrollContainer {
  position: absolute; 
  top: 20vh; /* Responsive position */
  left: 40vw; /* Responsive position */
  width: 60vw; /* Responsive width */
  height: 80vh; /* Make height responsive to viewport */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: #ffffff;
}

#square4 {
  width: 100%;
  height: 200vh; /* Height to allow scrolling */
  background-color: #ffffff;
}

.home-text {
  position: absolute; 
  left: 30vw; /* Responsive position */
  top: 13vh; /* Responsive position */
  font-family: 'Canva Sans', sans-serif; 
  font-size: 2vw; /* Responsive font size */
  font-weight: bold; 
  cursor: move; 
}

.edit-text {
  position: absolute; 
  left: 60vw; /* Responsive position */
  top: 13vh; /* Responsive position */
  font-family: 'Canva Sans', sans-serif; 
  font-size: 2vw; /* Responsive font size */
  font-weight: bold; 
  cursor: pointer; 
}


.rounded-upper {
    position: fixed;
    left: 43%; 
    top: 25%; 
    width: 7.64vw; 
    height: 3.22vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0.5rem; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size: 1.2vw; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    border: 1px solid #ccc; 
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s; 
}

.rounded-upper.active {
    background-color: #a1876c;
}

.rounded-lower {
    position: fixed;
    left: 54%;
    top: 25%; 
    width: 7.64vw; 
    height: 3.22vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0.5rem; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size: 1.2vw;
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc; 
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s;
}

.rounded-lower.active {
    background-color: #a1876c;
}

.rounded-shoes {
    position: fixed;
    left: 65%; 
    top: 25%; 
    width: 7.64vw; 
    height: 3.22vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0.5rem; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size:1.2vw;
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    border: 1px solid #ccc; 
    cursor: pointer; 
    z-index: 2;
    transition: background-color 0.3s; 
}

.rounded-shoes.active {
    background-color: #a1876c;
}

.rounded-eyewear {
    position: fixed;
    left: 76%; 
    top: 25%; 
    width: 7.64vw; 
    height: 3.22vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0.5rem; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size: 1.2vw;
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc; 
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s; 
}

.rounded-eyewear.active {
    background-color: #a1876c; 
}

.rounded-bag {
    position: fixed;
    left: 87%; 
    top: 25%; 
    width: 7.64vw;
    height: 3.22vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0.5rem; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size: 1.2vw; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    border: 1px solid #ccc; 
    cursor: pointer; 
    z-index: 2;
    transition: background-color 0.3s;
}

.rounded-bag.active {
    background-color: #a1876c; 
}

.rounded-headwear {
    position: fixed;
    left: 43%; 
    top: 33%; 
    width: 7.64vw;
    height: 3.22vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0.5rem; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size: 1.2vw; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc; 
    cursor: pointer; 
    z-index: 2;
    transition: background-color 0.3s; 
}

.rounded-headwear.active {
    background-color: #a1876c; 
}

.rounded-accessory {
    position:fixed;
    left: 54%; 
    top: 33%; 
    width: 7.64vw;
    height: 3.22vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding:0.5rem; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size: 1.2vw; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc; 
    cursor: pointer; 
    z-index: 2;
    transition: background-color 0.3s; 
}

.rounded-accessory.active {
    background-color: #a1876c; 
}

.rounded-socks {
    position: fixed;
    left: 65%; 
    top: 33%; 
    width: 7.64vw;
    height: 3.22vh;  
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0.5rem; 
    background-color: #eae0d6;
    border-radius: 25px; 
    font-size: 1.2vw; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    border: 1px solid #ccc; 
    cursor: pointer; 
    z-index: 2;
    transition: background-color 0.3s; 
}

.rounded-socks.active {
    background-color: #a1876c; 
}


.line {
    position: absolute;
    left: 29.5vw;
    top: 18vh;
    height: 0.5vh; 
    width: 7vw;
    background-color: #000; 
    transform: rotate(0deg); 
    cursor: pointer; 
}

#recwhite {
    position: fixed; 
    left: 40vw; 
    top: 20vh;   
    width: 59vw;   
    height: 20vh;   
    cursor: pointer;   
    opacity: 0.95;  
    background-color: #ffffff; 
    z-index: 1;     
}

 .name-text {
    position: absolute; 
    left: 10%; 
    top: 2%; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 2vw; 
    font-weight: 500;
    cursor: pointer; 
}

.default_profile {
    position: fixed;
    left: 5vw; 
    top: 1vh;
    width: 65px;
    height: auto;
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 85vw;
    top: 1vh;
    width: 180px;
    height: auto;
    cursor: pointer; 
}